<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/icons/sgIcon.png" type="image/png">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/category.css">
    <title>stashGrid</title>
</head>
<body>
    <%- include('partials/header') %>
    <div class="content">
        <% categories.forEach((item) => { %>
            <form action="/products" method="GET">
                <input type="hidden" name="categories" value="<%= item.category %>">
                <button class="category">
                    <div class="category_content">
                        <%= item.category.charAt(0).toUpperCase() + item.category.slice(1) %>
                    </div>
                </button>
            </form>
        <% })%>
    </div>
</body>
</html>