<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/icons/sgIcon.png" type="image/png">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="style.css">
    <title>stashGrid</title>
</head>
<body>
    <%- include('partials/header') %>
    <div class="content">
        <div class="text welcome">Welcome to stashGrid</div>
        <p class="text">Quickly organize and keep track of your entire collection in one simple place. Update your list anytime, browse through everything with ease, and plan what to add next without hassle.</p>
        <div class="text bgImg"><a href="/products" class="view">view products <span class="arrow">🢩</span></a></div>
        <div class="text bgImg"><a href="/categories" class="view">view categories <span class="arrow">🢩</span></a></div>
    </div>

</body>
</html>