<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/sgIcon.png" type="image/png">
    <link rel="stylesheet" href="/index.css">
    <title>stashGrid</title>
</head>
<body>
    <%- include('partials/header') %>
    <!-- <div>Welcome to stashGrid</div> -->
</body>
</html>