<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>stashGrid</title>
    <link rel="icon" href="/icons/sgIcon.png" type="image/png">
    <link rel="stylesheet" href="/css/sign.css">
</head>
<body>
    <div class="container">
        <div>Login</div>
        <form action="/auth/login" method="POST">
            <div><label>Username</label>
            <input type="text" name="username" required></div>

            <div><label>Password</label>
            <input type="password" name="password" required></div>

            <span class="signButton"><button class="login" type="submit">Login</button></span>
        </form>
        <p>Don’t have an account ? <a href="/auth/signUp">Sign Up</a></p>
    </div>
</body>
</html>
