<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/icons/sgIcon.png" type="image/png">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/products.css">
    <title>stashGrid</title>
</head>
<body>
    <%- include('partials/header') %>
    <div>Products</div>
    <div class="content">
        <div class="filter">
            <div>filter by categories</div>
            <% categories.map((item) => { %>
                <div><%= item.category %></div>
            <% }) %>
        </div>
        <div class="container"></div>
    </div>
</body>
</html>