.content{
    font-family: poppinsRegular, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2b2d2e;
    margin: 6vh 14vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.category{
    border: 1px solid rgb(96, 95, 95);
    background: linear-gradient(135deg, #0d1120 0%, #3a4b8a 43%, #0d1120 100%);
    padding: 1px;
    border-radius: 1.2rem;
    box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
    width: 250px;
    height: 100px;
    cursor: pointer;
}

.category_content {
  font-size: 1.1rem;
  color: #c8ccd3;
  padding: 1.5rem;
  border-radius: 1.2rem;
}
