body{
  height: 100vh;
}

.content{
    font-family: poppinsRegular, system-ui,'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.add_category{
   margin: 4vh 16.5vw 0;
  justify-content: flex-start;
  background: #2ea44f;
  border: 0;
  display: inline-block;
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1rem;
  font-family: poppinsMedium, system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0.5rem 1rem;
}

.category{
    font-family: poppinsMedium, system-ui,'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid rgb(96, 95, 95);
    background: linear-gradient(135deg, #0d1120 0%, #3a4b8a 43%, #0d1120 100%);
    border-radius: 1.2rem;
    box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
    width: 250px;
    height: 100px;
    cursor: pointer;
    margin-bottom: 2vw;
}

.category_content {
  all: unset;
  font-size: 1.1rem;
  color: #c8ccd3;
  border-radius: 1.2rem;
}
