@import url(./index.css);

@media screen and (min-resolution: 1.25dppx) {
  html { zoom: 0.9; }
}

@media screen and (min-resolution: 1.5dppx) {
  html { zoom: 0.8; }
}

.header{
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    padding: 0 2vw 0 2vw;
    font-family: poppinsMedium, system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 1px solid rgb(150, 144, 144);
}

.inventoryName{
    font-family: poppinsBold, system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
}

.logo_div , form , .auth_links{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.logo{
    width: 56px;
}

nav{
    display: flex;
    gap: 2vw;
}

input {
    padding: 8px 12px;
    border: 1px solid #bab9b9;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.8em;
    font-family: poppinsRegular, system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
input:focus {
    border-color: #4361ee;
    outline: none;
}

.searchSubmit , .closeButton , .submitButton {
  background-color: #36A9AE;
  border: 1px solid #2A8387;
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: poppinsMedium, system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.9em;
  padding: 4px 12px;
}

.closeButton{
  background-color: #FF8989;
  border: 1px solid #d55353;
}

a,
a:visited {
    color: inherit; 
    text-decoration: none;
}

nav>a {
  position: relative;
  text-decoration: none;
  color: #000;
  padding-bottom: 3px;
}

nav>a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #18191a;
  transition: width 0.3s ease;
}

nav>a:hover::after {
  width: 100%; /* expands line to full width */
}

.auth_links>div>a {
  color: #fff;
  padding: 7px 16px;
  border-radius: 8px;
  background-color: #4C43CD;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  border: 0;
  cursor: pointer;
}

.userDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
}

.userIcon>img{
    width: 48px;
}