@import url(./index.css);

body{
    font-family: poppinsRegular, system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(71, 69, 69);
}

.container{
    display: flex;
    padding: 1vw 2vw;
    border: 1px solid rgb(102, 101, 101);
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.container>div{
    font-family: poppinsBold, system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    margin-bottom: 12px;
}

form , form>div{
    display: flex;
    flex-direction: column;
}

form {
    gap: 4vh;
}

input {
    padding: 6px 10px;
    border: 1px solid #cecece;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 0.9em;
    font-family: poppinsRegular, system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
input:focus {
    border-color: #4361ee;
    outline: none;
} 

form>div>label, .container>p, .signButton>button{
    font-size: 1.1rem;
    font-family: poppinsMedium, system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.signButton{
    display: flex;
    justify-content: center;
}


.signButton>button {
  background: #2ea44f;
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: poppinsMedium, system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0.5rem 1rem;
}

.signButton .login{
    background: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
}

.userCheck {
    position: relative;
}

#username-message {
    position: absolute;
    top: 100%;
    left: 0;
}
